---
---

@import "{{ site.theme }}";

.page-header {
  color: #fff; # fallback for older browsers
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  background: #262223 url(../images/header-bg.png) 0 0 repeat-x;
}