---
---

@import "{{ site.theme }}";

.page-header {
  color: #fff;
  text-align: center;
  background: #262223 url(../images/header-bg.png) 0 0 repeat-x;
}

.page-header h1 {
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
}